* {
    color: #000000;
}

:root {

}

a, i {
    transition: .5s;
    text-decoration: none;
}

.font-color-black {
    color: #000000;
}



.btn {
    text-decoration: none;
    color: #ffffff;
    padding: 2px 18px;
}
.whatsapp,
.soluções {
    width: 204px;
    border-radius: 50px;
    font-weight: bold;
    margin: 10px 10px;
    padding: 7px 18px;
}

.whatsapp {background-color: #7bffb0;color: #000000;}

.btn:hover {
    color: #faeaea;
    background-color: #0D6EFD;
}

.whatsapp:hover {
    background-color: #7bffb0;
    color: #464545;
}

/* HEADER */
img#logo{
    height: 30px;
    margin-left: 30px;
}


/* HOME */

h1.titulo {
    margin: auto;
    width: 100%;
    font-size: 6vw;
}

.main-image {
    width: 100%;
    margin: 0%;
    background-image: url(img/background\ 1.png);
    text-align: center;
    display: flex;
    flex-direction: column;
}


.main-image-info {
    width: 99%;
    padding: 25px;
    margin: auto;  
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.center-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0%;
}

.img-portais {
    background-image: url(img/alguns\ portais.png);
    height: 60px;
    margin: 20px 0px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.h3 {font-weight: bold; font-size: medium;}

.logo-flutuante {
    width: 8vw;
    position: relative;
    border-radius: 100px;
}

.logo-flutuante:hover {
    border: 1px solid white;
    transform: translate(-1px, -1px);
    transition-duration: 0.5s;
    box-shadow: 3px 3px 5px rgb(138, 137, 137);
}


/* CARDS 1 */

.titulo-secao-cards {
    text-align: center;
    font-size: 2.5em;
}

.card-body p {
    font-size: 22px;
    font-weight: bold;
    color: #ffffff;
    padding: 0px;
    text-align: center;
}

strong {
    color: #ffffff;
}

.titulo-secao-cards {
    text-align: center;
}

.custom-card { 
    
    background-color: #377DFF;
    border-radius: 40px;
    border: none;
    margin: 20px 0px;
    padding: 20px;
}

#card-1{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* NAVEGAÇÃO */

.tab-content {
    background: #f1f1f1;
    padding: 20px;
    border-radius: 10px;
}

.logo-section p{
    border: 2px solid black;
    border-radius: 20px;
    margin: 10px;
    padding: 0px 20px;
    font-weight: bold;
    font-size: 22px;
    display: inline-block;
}

.card-solucoes h2 {
    margin: 10px;
    width: 80%;
}

.tab-content {
    background-color: #e5e5e5;
    height: 80%;
    width: 80%;
}

.container-text {
    background-color: #E5E5E5;
    height: 500px;
    border-radius: 40px;
    margin: 0px;
}

.card-solucoes {
    width: 80%;
    margin: auto;
    margin: 0%;
}

.nav-item {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border: none;
}

.title-color {
    color: black;
    font-weight: bolder;
    font-size: 150%;
}

.container-list {
    display: flex;
    justify-content: center;
}

.nav-tabs .nav-link.active {
    background-color: #E5E5E5 !important; 
    color: white !important; 
    border-color: #E5E5E5 !important; 
}

span {
    color: #000000;
    font-weight: bolder;
}

.container-section {
    height: 800px;
}

.alinhar-itens {
    width: 90%;
    padding: 0%;
    display: flex;
    justify-content: center;
    margin: auto;
}



 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 0px) and (max-width: 992px) {

    h1.titulo {background-color: rgba(199, 49, 49, 0);}

    .olx-logo {left: -140px; top: -10px; display: none;}
    .uol-logo {left: -250px; top: 70px; display: none;}
    .yahoo-logo {left: -290px; top: 150px; display: none;}
    .metropole-logo {left: -330px; top: 230px; display: none;}

    .g-logo{left: 150px; top: -10px; display: none;}
    .terra-logo{left: 150px; top: -10px; display: none;}
    .r7-logo{left: 150px; top: -10px; display: none;}
    .yt-logo{left: 150px; top: -10px; display: none;}

    /* CARDS 1*/

    .card-body p {
        font-size: 1.1em;
    }



    .col-md-6 {
        width: 90%;
    }

    #card-1, #card-2, #card-3 {
        width: 100%;
        margin: auto;
    }

    #card-2, #card-3 { 
        margin-top: 40px;
    }

    .container-main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card-body {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .custom-card { 
        display: flex;
        flex-direction: column-reverse;
    }

    img.wwp {
        width: 70px; 
        height: 140px;
        margin: 20px;
    }

    img.ia {
        width: 100px; 
        height: 100px;
        margin: 20px 0px 0px;
    }

    .card-img-top {
        width: 90%;
        margin-bottom: 10%;
    }

    /* NAVEGAÇÃO */
    .card-solucoes {
        display: none;
    }

 }

 /* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {


    .img-portais {
        background-image: url(img/alguns\ portais.png);
        height: 20vw;
        margin: 20px 0px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }

    h1.titulo {
    margin: auto;
    margin: 80px 0px 0px;
    width: 100%;
    font-size: 6vw;
    }
    
    .container-btn {
        display: flex;
    }

    .h3 {
        margin: 30px 0px;
        font-size: 1.6em;
    }


} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    h1.titulo {
        font-size: 3em;
        width: 80vw;
    }

    .logo-flutuante {width: 70px; position: relative;}

    .olx-logo {left: -100px; top: 80px;}
    .uol-logo {left: -240px; top: 190px;}
    .yahoo-logo {left: -330px; top: 300px; width: 70px;}
    .metropole-logo {left: -310px; top: 370px;}

    .g-logo{left: 260px; top: 60px;}
    .terra-logo{left: 300px; top: 170px;}
    .r7-logo{left: 230px; top: 290px;}
    .yt-logo{left: 40px; top: 350px;}

    /* CARD */

   
    
    .titulo-secao-cards {
        text-align: left;
        font-size: 2.5em;
    }

    .container-section {
        margin: 0%;
        width: 100%;
        padding: 0%;
    }

    .container-main {
        height: 100%;
        width: 100%;
        margin: 0%;
        display: flex;
        justify-content: space-between;
    }

    

    .col-md-6 {height: 600px; margin: 0%;}

    img.wwp {
        width: 70px; 
        height: 50%;
        margin: 20px;
        align-self: flex-end;
    }

    img.ia {
        width: 100px; 
        height: 100px;
        margin: 0px;
        align-self: flex-end;
    }

    .custom-card {padding: 0%;}

    .card-body{
        display: flex;
        justify-content: space-between;
        padding: 30px;
    }

    .card-body p {
        text-align: left;
        font-size: 1.1em;
        padding: 0%;
    }

    


    .card-img-top {
        max-width: 90%;
        margin-top: 30px;
    }

    #card-1 {height: 92%;}

    #card-2 {margin-bottom: 0px; height: 45%; margin-left: 60px;}
    
    #card-3 {margin-top: 0px; height: 45%; margin-left: 60px;}


    /* SOLUÇOES -----------------------------------*/

    .card-solucoes {
        width: 100%;
    }
    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    h1.titulo {
        font-size: 3.3em;
        width: 80vw;
    }

    .img-portais {
        background-image: url(img/alguns\ portais.png);
        height: 460px;
        margin: 20px 0px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }

    

    .main-image {height: 950px;}

    .logo-flutuante {width: 80px;}

    .olx-logo {left: 0px; top: 40px;}
    .uol-logo {left: -280px; top: 190px; width: 75px;}
    .yahoo-logo {left: -400px; top: 300px; width: 90px;}
    .metropole-logo {left: -310px; top: 370px; width: 60px;}

    .g-logo{left: 260px; top: 60px;  width: 90px;}
    .terra-logo{left: 370px; top: 170px;}
    .r7-logo{left: 260px; top: 290px;}
    .yt-logo{left: 100px; top: 380px;  width: 60px;}

    /* CARDS */

    .card-body p {
        font-size: 1.3em;
    }

    .card-1 .card-body p {
        position: relative;
        top: 40px;
    }

    .card-bod div {
        display: flex;
        align-items: flex-end;
    }


    .titulo-secao-cards {
        text-align: left;
        font-size: 3em;
    }


    .container-main {
        margin: auto;
        height: 500px;
        width: 100%;
    }

    .card-img-top {
        max-width: 700px;
    }

    .alinhar-itens {
        max-width: 1500px;
    }

    .card-img-top {
        max-width: 700px;
        margin: 0%;
        display: flex;
        align-items: flex-start;
    }

    img.wwp {
        width: 100px; 
        height: 70%;
        margin: 20px;
        margin-right: 40px;
        align-self: flex-end;
    }

    img.ia {
        width: 30%; 
        height: 60%;
        margin: 0px 20px 20px 0px;
        align-self: flex-end;
    }

    .card-1 .card-body {
        padding: 0%;
    }

    #card-1{height: 92%; padding: 40px;}

    #card-2 {margin-bottom: 0px;height: 45%; margin-left: 60px;}
    
    #card-3 {margin-top: 0px;height: 45%;
margin-left: 60px;}

}
